<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include category-list.html %}
</div>

<div class="sidebar well">
{% include tag-list.html %}
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>

<a class="twitter-timeline" href="https://twitter.com/ktcsi">Tweets by ktcsi</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
